body {
  /* background-color: #166678; */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  background: #0b294d;
  background: -moz-linear-gradient(45deg, #0b294d 0%, #324875 53%, #003662 100%);
  background: -webkit-linear-gradient(45deg, #0b294d 0%,#324875 53%,#003662 100%);
  background: linear-gradient(45deg, #0b294d 0%,#324875 53%,#003662 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b294d', endColorstr='#003662',GradientType=1 );
}

#pics-row img {
  width: 40%;
  margin-right: 5%;
}
#name-text {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}
#subname-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
.v-divider {
  position:absolute;
  left:50%;
  top:10%;
  bottom:10%;
  border-left:1px solid white;
}


.icons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
    font-size: 1.5em;
    width: calc(100% + 1.125rem);
    margin-left: -0.5625rem;
}
.icons li {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5625rem;
}
.icons li a {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    border-radius: 100%;
    width: 2em;
    height: 2em;
}
.icons li a svg {
    display: block;
    -moz-transition: fill 0.25s ease;
    -webkit-transition: fill 0.25s ease;
    -ms-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}
.icons li a .label {
    display: none;
}
#icons01 li a svg {
    width: 60%;
    height: 60%;
}
#icons01 .n01 svg {
    fill: rgba(255, 255, 255, 0.561);
}
#icons01 .n01 {
    border: solid 1px rgba(255, 255, 255, 0.141);
}
#icons01 .n01:hover {
    border-color: #FFFFFF;
}
#icons01 .n01:hover svg {
    fill: #FFFFFF;
}
#icons01 .n02 svg {
    fill: rgba(255, 255, 255, 0.561);
}
#icons01 .n02 {
    border: solid 1px rgba(255, 255, 255, 0.141);
}
#icons01 .n02:hover {
    border-color: #FFFFFF;
}
#icons01 .n02:hover svg {
    fill: #FFFFFF;
}
#icons01 .n03 svg {
    fill: rgba(255, 255, 255, 0.561);
}
#icons01 .n03 {
    border: solid 1px rgba(255, 255, 255, 0.141);
}
#icons01 .n03:hover {
    border-color: #FFFFFF;
}
#icons01 .n03:hover svg {
    fill: #FFFFFF;
}
#icons01 .n04 svg {
    fill: rgba(255, 255, 255, 0.561);
}
#icons01 .n04 {
    border: solid 1px rgba(255, 255, 255, 0.141);
}
#icons01 .n04:hover {
    border-color: #FFFFFF;
}
#icons01 .n04:hover svg {
    fill: #FFFFFF;
}
#icons01 .n05 svg {
    fill: rgba(255, 255, 255, 0.561);
}
#icons01 .n05 {
    border: solid 1px rgba(255, 255, 255, 0.141);
}
#icons01 .n05:hover {
    border-color: #FFFFFF;
}
#icons01 .n05:hover svg {
    fill: #FFFFFF;
}
