---
// import { Icon } from "astro-icon/components";

interface Props {
  variant: "tip" | "caution" | "danger" | "info";
}

const { variant } = Astro.props as Props;

const icon = (() => {
  switch (variant) {
    case "tip":
      return "tabler/bulb";
    case "caution":
      return "tabler/alert-triangle";
    case "danger":
      return "tabler/flame";
    case "info":
      return "tabler/info-circle";
  }
})();
---

<div
  class:list={[
    "aside prose-p:my-0 my-3 rounded-md border-l-4 px-4 py-3",
    {
      "prose-code:bg-green-400/20 border-green-400 bg-green-400/10 text-green-950 dark:text-green-100":
        variant === "tip",
    },
    {
      "prose-code:bg-yellow-400/20 border-yellow-400 bg-yellow-400/10 text-yellow-900 dark:text-yellow-100":
        variant === "caution",
    },
    {
      "prose-code:bg-red-500/20 border-red-500 bg-red-500/10 text-red-950 dark:text-red-100":
        variant === "danger",
    },
    {
      "prose-code:bg-sky-400/20 border-sky-400 bg-sky-400/10 text-sky-900 dark:text-sky-100":
        variant === "info",
    },
  ]}
>
  <div class="flex items-center gap-2 pb-2">
    <!-- <Icon name={icon} class="h-7 w-7" aria-hidden="true" /> -->
    <p class="text-sm font-bold">{variant.toUpperCase()}</p>
  </div>
  <slot />
</div>
